# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.yarn/

# production
/build
/dist
/out
/public # If it's a build output folder, not source
/release

# development
.env
.env.*
.DS_Store
.idea/
.vscode/
*.log
temp/
tmp/